<!DOCTYPE html>
<html lang="pt-BR">
    
<head>
    {% include 'recipes/partials/head.html' %}
    <title>{% block title %}{% endblock title %} receitas</title>
</head>
<body>
    <!--Logo do site-->
    {% include 'recipes/partials/header.html' %}
    <!--Caixa de pesquisa-->
    {% include 'recipes/partials/search.html' %}
    <main class="main-content-container">
        <div class="main-container main-content-list container">
            {% block content %}{% endblock content %}
        </div>
    </main>
    {% include 'recipes/partials/footer.html' %}
</body>
</html>