{% extends 'global/base.html' %}
{%block title%}Home |{%endblock title%}
{% block content %}
<div class="main-container main-content-list container">
    <!--for responsavel por mostrar todas as receitas na pagina principal-->
    {% for recipe in recipes %}
        {% include 'recipes/partials/recipe.html' %}   
    {% empty %}
        <div class="no-publications">
            <h2>Nenhuma Receita Cadastrada, Seja o primeiro(a) a publicar!</h2>
        </div>
    {% endfor %}
    
</div>
{% endblock content %}