{% extends 'global/base.html' %}
{%block title%}Home |{%endblock title%}
{% block content %}
<div class="main-container main-content-list container">
    <!--remover depois, pois sera inclementado com JS-->
    {% include 'recipes/partials/recipe.html' %}
    <!--remover depois, pois sera inclementado com JS-->
    {% include 'recipes/partials/recipe.html' %}
    <!--remover depois, pois sera inclementado com JS-->
    {% include 'recipes/partials/recipe.html' %}
    <!--remover depois, pois sera inclementado com JS-->
    {% include 'recipes/partials/recipe.html' %}
</div>
{% endblock content %}